<header>
    <section class = "primeraSeccionHeader">
        <img class="Logo-ml" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        
        <form class = "barra-busqueda-icono" action="#">  
            <input class = "barra-busqueda" placeholder="Buscar productos, marcas" type="text" name="search"></input>         
         <button class="icon-botton">    
            <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
        </button>
    </form>
    <p class="advertencia-compra-cuotas1"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
        tarjeta de crédito</p>
</section>
<p class="advertencia-compra-cuotas2"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
    tarjeta de crédito</p>
    <section class = "segundaSeccionHeader">
        <div class="navbar">
                <ul class = "primera-lista">
                    <li><a href = "ofertas.html">Ofertas</a></li>
                    <li><a href = "tiendas-oficiales.html">Tiendas Oficiales</a></li>
                    <li><a href = "vender.html">Vender</a></li>
                    <li><a href = "ayuda.html">Ayuda</a></i></li>
                </ul> 
                <ul class="segunda-lista">
                    <li id="hola">
                        <a href = "/register.html">Creá tu Cuenta</a>
                        <i class="fa-solid fa-address-card"></i>
                    </li>
                    <li>
                        <a href = "/login.html">Ingresá</a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </li> 
                    <li>
                        <a href = "mis-compras.html">Mis Compras</a>
                        <i class="fa-solid fa-basket-shopping"></i>
                    </li>
                </ul>
        </div>    
    </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </section>
</header>