<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">     
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        rel="stylesheet">
        
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <img class ="Banner" src="images/img-home-banner.jpg" alt="Banner">
            <section class="section-articulos">
                <i class="fa-solid fa-alien-8bit"></i>
                <h3 class="Titulares">Basado en tu última visita</h3>   
                <section class = "sub-section-articulos">
                    <article>
                            <img class ="Imagen-articulo" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                            <section class = "descripcionProducto">
                                <div class = "envioCamion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="descripcionTotalProducto"> <!-- este div contenedor
                                permit asignle un flex row y poder dejar un espacio debajo de
                                h3 descripciones tal como pedía el ejercicio de la clase 14 -->
                                    <div class = "precioDescuento">
                                        <p class="Precios">$6.770</p>
                                        <p class="Descuentos">40% off</p>
                                    </div>
                                    <h3 class="Descripciones">Cafetera Moulinex</h3>
                                </div>
                            </section>
                        </article>
                </section>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class = "Imagen-articulo" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                            </div>   
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">
                                    <p class="Precios">$230.000</p>
                                    <p class="Descuentos">20% off</p>
                                </div>
                                <h3 class="Descripciones">MacBook Pro 2019</h3>
                            </div>
                        </section>
                    </article>
                </section>
                <div class="line-break"></div>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                             </div> 
                             <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">     
                                    <p class="Precios">$70.500</p>
                                    <p class="Descuentos">10% off</p>
                                </div>    
                                <h3 class="Descripciones">Samsung Galaxy S10</h3>
                            </div>
                        </section>
                    </article>
                </section>   
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                 <i class="fa-solid fa-truck"></i>
                            </div>  
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">   
                                    <p class="Precios">$23.200</p>
                                    <p class="Descuentos">5% off</p>
                                </div>    
                                <h3 class="Descripciones">SmartTv Samsung 43"</h3>
                            </div>
                        </section>
                    </article> 
                </section> 
                <div class="line-break"></div> 
                <h3 class="Titulares">Ofertas</h3>
                <section class = "sub-section-articulos">
                    <article>
                            <img class ="Imagen-articulo" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                            <section class = "descripcionProducto">
                                <div class = "envioCamion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="descripcionTotalProducto"> <!-- este div contenedor
                                permit asignle un flex row y poder dejar un espacio debajo de
                                h3 descripciones tal como pedía el ejercicio de la clase 14 -->
                                    <div class = "precioDescuento">
                                        <p class="Precios">$6.770</p>
                                        <p class="Descuentos">40% off</p>
                                    </div>
                                    <h3 class="Descripciones">Cafetera Moulinex</h3>
                                </div>
                            </section>
                        </article>
                </section>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class = "Imagen-articulo" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                            </div>   
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">
                                    <p class="Precios">$230.000</p>
                                    <p class="Descuentos">20% off</p>
                                </div>
                                <h3 class="Descripciones">MacBook Pro 2019</h3>
                            </div>
                        </section>
                    </article>
                </section>
                <div class="line-break"></div>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                             </div> 
                             <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">     
                                    <p class="Precios">$70.500</p>
                                    <p class="Descuentos">10% off</p>
                                </div>    
                                <h3 class="Descripciones">Samsung Galaxy S10</h3>
                            </div>
                        </section>
                    </article>
                </section>      
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                 <i class="fa-solid fa-truck"></i>
                            </div>  
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">  
                                    <p class="Precios">$23.200</p>
                                    <p class="Descuentos">5% off</p>
                                </div>    
                                <h3 class="Descripciones">SmartTv Samsung 43"</h3>
                            </div>
                        </section>
                    </article>
            </section>
            <div class="line-break"></div> 
        </main>
        <br>
        <%- include('./partials/footer.ejs') %>
    </body>
  </html>

