


/*MAIN*/

.botonEnviar:hover{
    background-color: #0022AA;
}

main{
    background-color: #ebebeb;
}

form .formulario{
    display: flex;
    flex-direction: column;
   
}

.partes-formulario{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    
}

.input-formulario, .boton-formulario{
    width: 40%;
    height: 25px;
}

.input-formulario{
    text-indent: 1px;
    border: 0ch;
    border-radius: 3px;
}

.boton-formulario{
    background-color: rgb(77, 77, 247);
    color: white;
    border: 0ch;
    border-radius: 3px;
}



@media (min-width: 481px){ /*TABLET*/
   
  

    * {
        margin: 0 px ;
        padding: 0 px ;
        box-sizing: border-box ;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin:0;
    }
        
     



